extends layout/base

block content
  // Main
  section#main.wrapper
    .container
      header.major.special
        h2 perspective
        p I design to solve, not only to impress...
      a.image.fit(href='#')
        img(src='images/011.JPG', alt='')
      p
        | I am Srikrishna Acharya, currently pursuing PhD at Robert Bosch Center for Cyber Physical Systems, IISc.
        | I have a masters degree in VLSI and Embedded systems from IIIT-Delhi and Bachelors in Electronics from GPREC, Kurnool.
        | I am simple person with simple needs. Things that turns me on other than electronics are Football, Food and Fun.
        | With these four vices my life is quite content.
      p
        | Recently I read a book by Rashmi Bansal, Take me Home.
        | The first line in the author’s note goes something like this “There are some things you can never change in life. One of them is your place of birth”.
        | So let’s start from my hometown Kurnool, former capital of Andhra State.
        | It is very peaceful small town in contrast with what most of the regional movies project.
        | Yes, this place where I was born and brought up has prevailing influence on me and my personality.
        | Like every kid from small town in India I too have big dreams and this town gave me everything that I ever needed, most importantly
        a(href='images/family.jpg') family
        |  and
        =" "
        a(href='images/snaps17.JPG') friends
        | .
      div(align='center')
        img(src='images/8.jpg')
      p
        | My first job out of college in the software industry was in TCS@Chennai.
        | This could not be better since 4 out of my 5 best friends are placed in same location. I had amazing 5 months there even the timing of the season was awful
        | but I made some amazing new people and some have become great friends. So I was right in the confort zone..
        | But somewhere I had a gut feeling that I could do better than this. So I prepared for GATE and got Admission in MTech at IIIT-Delhi.
        | I am ridiculously lucky to be in the best batch I could ever imagine.
        | It is completely insane to be part of
        =" "
        a(href='') Bengali batch
        | . My two years of MTech is like a roller coaster.
        | 					Like a famous telugu movie dialogue " Every scene is a climax ", My MTech has many twists and turns and alas I could complete it with some pride.
      p
        | My second innings in professional career started as Assistant Professor at JUIT around July 2014, Wagnaghat.
        | Although it was very short period I had many sweet memories.
        | Though students were very annoying but I somehow loved them.
        | May be they reminded me how I was in grad school.
        | Coincidentally I got an offer from my professor Dr.Amarjeet Singh to join his team to solve energy related problem.
        | Primary reason I got this opportunity is my friend Supratim das’s reference, partially my performance in his course helped but either way I was very lucky to be part of this group.
      p
        | We started off with a group of four and in no time we were about to hit magic number 25 and we raised seed funding and 2 pre-series A funding. I enjoyed every day being part of group.
        | I have strong desire to pursue PhD, and after working in a start-up for around 1.5 years I felt now is the right time to chase it and around July 2016 I joined Robert Bosch Centre for Cyber Physical Systems, IISc.
        | That's about me in little detail.

      center
        h1
          | I hope that my impression about myself and your impression about me are not so different.