extends layout/base

block content
  section#main.wrapper
    .container
      header.major.special
        h2 virtual eye
        p
          | I can only please one person per day. Today is not your day. Tomorrow is not looking good either.
      a.image.fit(href='#')
        img(src='images/megowri.jpg', alt='')