extends  layout/base

block content
  // Banner
  section#bannerplain
    .container(class='75%')
      .form
        form#contact_form(action='#', method='POST', enctype='multipart/form-data')
          div
            label(for='name') Your name:
            br
          .input
            input#name.input(name='name', type='text', value='', size='30')
            br
          .label
            label(for='email') Your email:
            br
          .input
            input#email.input(name='email', type='text', value='', size='30')
            br
          .label
            label(for='message') Your message:
            br
          .textarea
            textarea#message.input(name='message', rows='7', cols='30')
            br
          div
            input#submit_button(type='submit', value='Send email')