extends layout/base

block content
  section#one.wrapper.style1
    .container(align='center', class='75%')
      header.major.special
        h2 My Life @GPREC
      div(class='10u$(xsmall) 8u')
        .image.fit.captioned
          img(src='images/416828_497692166917052_793128629_n.jpg', alt='')
          h3
            | In one single pic.
            br
  section#two.wrapper.style1
    .container(class='100%')
      p
        span.image.left
          img(src='images/3p.jpg', alt='')
        |        G. Pullareddy Engineering College... ECE Branch... Last Bench... Four friends...
        |        My life would have been so different without these 4 pitres.
        |        Ravi (daddy), Sharan ( Big Teddy ) , Sashank(RAM - Random Access Memory) and Sujan (Brother Sujan Kumar) are final piece of puzzle to complete me.
        |        Trust me, bonding between people, who got together at the time of adversities, are very strong.
        |        We got together in one such adversities i.e. busted while planning for mass bunk.
        |        There after, be it mass bunk, hangouts, combine studies, long drives, parties every where we are together. Every adversity made our bonding stronger.
        |        This friendship was purely based on the trust. We exactly know how each one of us are and we accept it.
        |        Now Ravi is in US, Sujan is in UK, Sharan is in Bangalore, Sashank is in Kolkata and I am in Gurgaon but for us, distance is just a number. Yes we did have lot of fights among us.
        |        I hated( very strong) Ravi initially and I did not speak to sashank for 8 months for some stupid issue, but still we are together and this friendship is like divine (with time its gets better similar to wine).
      p
        span.image.right
          img(src='images/IMG_5540.jpg', alt='')
        |        If I look back my college life I had a lot of awesome moments and I feel very lucky to be associated with some cool people like Krishna chaithanya, Kowshik sharma, Rakesh, Yeswanth Jampala, Bharath, Sravani, Deepthika, Sunita, Lakshmi Prathusha, Pinky , Rohith, Harish, Jeol, pulsar sreenu, Kanna, Gopi (although I know him from school), Sham, Shekhar, Lucky, Hari, Adi, Abhi, Chakri (how would I miss you).
        |        Seriously when I am typing these names, it reminds me a lot of memories I share with them and how much I miss them.
        |        Each one of them are so different and unique.
        |        Yes I am very lucky not just because I experienced them but also I cherish them. Each one of you are in my heart.
        |        That trip to Yaganti, Every Birthday party at Raj Dhabha, Those useless talks, All those Teasing, Vignana Prabha, Techfest....
        |        I just could not stop writing, So many memories in those four years. I now feel how lucky Hemanth Sai was... :P
      .container(align='center', class='75%')
        div(class='10u$(xsmall) 8u')
          .image.fit.captioned
            img(src='images/with hod.gif', alt='')
            h3 Our Nostalgic Memories
            script(language='javascript').
              setInterval("counter()", 2000)
      p
        | If there is one person I would owe every thing I learned in this college it would be without a doubt Dr. Chakrapani Sir.
        | He has very instigating personality and commanding voice.
        | His influence invoked rippples in my thought process and allowed me explore myself more.
      |      As a finishing note I would like to thank Suresh Reddy Sir, DR Srinivas sir ( pulse of ECE ), Sudheer Babu sir, Ramakanth sir, Devendra sir, MVR Vittal sir, Udayakiran madam, Kumar sir and all other faculty, technicians, and Lab assistants who enlightened us and helped us to achieve our goals.

block js
  script.
    c = 0
    function counter() {
      c++
      switch (c) {
        case 1 :
          document.images[3].src = "images/snaps.gif";
          break;
        case 2 :
          document.images[3].src = "images/snaps1.gif";
          break;
        case 3 :
          document.images[3].src = "images/snaps2.gif";
          break;
        case 4 :
          document.images[3].src = "images/with hod.gif";
          break;
        case 5 :
          document.images[3].src = "images/snaps3.gif";
          break;
        case 6 :
          document.images[3].src = "images/snaps4.gif";
          break;
        case 7 :
          document.images[3].src = "images/snaps5.gif";
          break;
        case 8 :
          document.images[3].src = "images/snaps6.gif";
          break;
        case 9 :
          document.images[3].src = "images/snaps7.gif";
          break;
        case 10 :
          document.images[3].src = "images/snaps8.gif";
          break;
        case 11 :
          document.images[3].src = "images/snaps9.gif";
          break;
        case 12 :
          document.images[3].src = "images/snaps10.gif";
          break;
        case 13 :
          document.images[3].src = "images/snaps11.gif";
          break;
        case 14 :
          document.images[3].src = "images/snaps13.gif";
          break;
        case 15 :
          document.images[3].src = "images/snaps14.gif";
          break;
        case 16 :
          document.images[3].src = "images/snaps15.jpg";
          break;
        case 17 :
          document.images[3].src = "images/snaps16.JPG";
          break;
        case 18 :
          document.images[3].src = "images/snaps17.JPG";
          break;
        case 19 :
          document.images[3].src = "images/snaps18.JPG";
          break;
        case 20 :
          document.images[3].src = "images/snaps19.JPG";
          break;
        case 21 :
          document.images[3].src = "images/snaps20.JPG";
          break;
        case 22 :
          document.images[3].src = "images/snaps21.JPG";
          break;
        case 23 :
          document.images[3].src = "images/snaps22.JPG";
          break;
        case 24 :
          document.images[3].src = "images/snaps23.JPG";
          break;
        case 25 :
          document.images[3].src = "images/snaps24.JPG";
          break;
        case 26 :
          document.images[3].src = "images/snaps25.JPG";
          break;
        case 27 :
          document.images[3].src = "images/snaps26.JPG";
          break;
        case 28 :
          document.images[3].src = "images/snaps27.JPG";
          break;
        case 29 :
          document.images[3].src = "images/snaps28.JPG";
          break;
        case 30 :
          c = 0;
          document.images[3].src = "images/snaps29.JPG";
          break;
      }
    }
