extends layout/base
style.
    .myCarousel img {
        width: auto;
        height: 225px;
        max-height: 225px;
    }
block content
  section#one.wrapper.style1
    .container(align='center', class='75%')
      header.major.special
        h2 My Life's Two Best Decisions
      .row(class='150%')
        div(class='6u 11u$(xsmall)')
          .image.fit.captioned
            img(src='images/iiitd.jpg', alt='picture taken at GPREC')
            h3 Joining IIIT-D
        div(class='6u$ 11u$(xsmall)')
          .image.fit.captioned
            img(src='images/delhi.jpg', alt='IIIT-D')
            h3
              | moving to dili
              br
    .container(align='center', class='75%')
      h3  Marriages are made in Heaven but friendship is made in hostels
      div(class='6u 11u$(xsmall)')
        .image.fit.captioned
          img(src='images/4FD.jpg', alt='picture taken at GPREC')
          h3 Bong Batch
  section#two.wrapper.style1
    .container(class='100%')
      p
        span.image.left
          img(src='images/006.JPG', alt='')
        | This journey from Kurnool to Delhi changed my life, to put it more accurately opened floodgates for opportunities to learn and evolve.
        | This is not so easy for a cocoon, who never got out of his hometown.
        | My father and I had weeks of discussion around leaving the stable job, risks, criticism etc.
        | This decision to come here was not spontaneous but the seed of the thought was a spur of the moment and I was very confident about my decision.
        | On the first day I was bit nervous, and the first few intimidating weeks made it clear that the task ahead of me was daunting.
        | I came here straight out of my comfort zone.
      p
        span.image.right
          img(src='images/DSC01012.JPG', alt='')
        | Although I started this phase of my life with lot of excitement about what I can learn or do with my new skills, I quickly realized how much hard work there is ahead of me.
        | I had a fear of give in to feelings of impatience, fear and confusion.
        | But I thing was very clear to me that I was not alone in this journey, I had a telugu speaking guy (harsha) to evade the feelings of homesickness
        | and amazingly crazy bong batch( dada, supra, rohan) that never failed to amuse me.
        | They teased me, scolded me, guided me and finally I dissolved with them completely.
        | With them I felt home. Pranay is dada of the batch, Supratim is tech nerd and my endorsed guru, and finally Rohan Sinha,
        | the entertainer of the batch. His sight gives me goose bumps (trust me I am not a gay) but this fella is Rockstar with Capital R.
        | Supratim has significant influence on me. He helped me when I was struggling at the start.
        | His ideas are fresh and he always leads by example.
        | And finally dada has soothing influence.
        | He takes care of every one like a silent custodian.
        | He has eyes like hawk, nothing goes unnoticed when he is around.
      p
        span.image.left
          img(src='images/supra_me.JPG', alt='')
        | With these guys around I started observing and learning.
        | We together managed to overcome every obstacle we faced,
        | be it DHD course, Change of manager ( Dr. Kaushik saha sir ) in just 2 months into internship or getting and X in thesis at the end of 3rd semester.
        | Things happened at such a pace I don’t remember how two years passed.
        | First year at IIITD and second year as intern in STMicroelectronics just went like 2 months or so.
      p
        | One person who kept trust in me, encouraged and helped me is Prof. R.N. Biswas Sir.
        | Thank you sir, I would we forever grateful for things you did to me and supratim das.
        | Especially when my morale was so low, those words of encouragement really worked on me.
        | And finally I reserve special mention for 2 people at IIIT-Delhi and ST.
        | First person without second thought Dr. Saket Srivastava, for his positive influence and pushing us to our limits
        | finally making us to realize there is no limit if you push yourself hard.
        | And second person is Dr. Kaushik Saha sir, what an aww inspiring personality.
        | I really worked so hard to just get noticed by him and impress him.
        | I took only his course in ST to put my complete focus on it.
        | I would have even started smoking if he just asked me second time (Even first time I was just hesitant and supratim told him I don’t smoke).
        | His departure hit me harder than anything I could remember. But that made me better and stronger.
      p
        span.image.right
          img(src='images/DSC01089cp.jpg', alt='')
        | I would be forever grateful for ST Microelectronics and IIIT-Delhi for this amazing opportunities and experiences I will cherish every time I remember them.
        | I would like to thank some amazing people like Surinder Pal, Amit from ST and Anil Kumar, Amani, Abhinav Jadon, Ankita, Arpan Jati (complete genius I ever met) and finally Dr. Amarjeet Singh sir for making this journey so amazing.
        br
        br
        |  Suprising, people amazed me at IIIT-D has ‘A’ as starting letter, amazing is isn’t it.
        | And to add more amusement the company I started working is started by Dr. Amarjeet singh and the company name is Zenatix.
      section#three.wrapper.style1
        .container(align='center', class='75%')
          div(class='10u$(xsmall) 8u')
            .image.fit.captioned
              #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                  li.active(data-target='#myCarousel', data-slide-to='0')
                  li(data-target='#myCarousel', data-slide-to='1')
                  li(data-target='#myCarousel', data-slide-to='2')
                  li(data-target='#myCarousel', data-slide-to='3')
                  li(data-target='#myCarousel', data-slide-to='4')
                  li(data-target='#myCarousel', data-slide-to='5')
                  li(data-target='#myCarousel', data-slide-to='6')
                  li(data-target='#myCarousel', data-slide-to='7')
                  li(data-target='#myCarousel', data-slide-to='8')
                  li(data-target='#myCarousel', data-slide-to='9')
                  li(data-target='#myCarousel', data-slide-to='10')
                  li(data-target='#myCarousel', data-slide-to='11')
                    li(data-target='#myCarousel', data-slide-to='12')
                // Wrapper for slides
                .carousel-inner
                  .item.active
                    img(src='images/iiitd_group.jpg', alt='iiitd')
                  .item
                    img(src='images/iiitd_another.jpg', alt='iiitd')
                  .item
                    img(src='images/IMAG0232.jpg', alt='iiitd')
                  .item
                    img(src='images/My_group.jpg', alt='iiitd')
                  .item
                    img(src='images/Pranay_me.jpg', alt='iiitd')
                  .item
                    img(src='images/016.JPG', alt='iiitd')
                  .item
                    img(src='images/017.JPG', alt='iiitd')
                  .item
                    img(src='images/class.jpg', alt='iiitd')
                  .item
                    img(src='images/redfort.jpg', alt='iiitd')
                  .item
                    img(src='images/st_cubicle.jpg', alt='iiitd')
                  .item
                    img(src='images/rohan_honu.jpg', alt='iiitd')
                  .item
                    img(src='images/video_conference.jpg', alt='iiitd')
                  .item
                    img(src='images/Pranoy_me.jpg', alt='iiitd')

                // Left and right controls
                a.left.carousel-control(href='#myCarousel', data-slide='prev')
                  span.glyphicon.glyphicon-chevron-left
                  span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', data-slide='next')
                  span.glyphicon.glyphicon-chevron-right
                  span.sr-only Next
              //img(src='images/iiitd_group.jpg', alt='')
              h3 Our Nostalgic Memories

