extends layout/base

block content
  // Banner
  section#banner
    h2 SRIKRISHNA ACHARYA
    p
      | I am currently
      | pursuing PhD at"
      a(href='https://rbccps.org/') Robert Bosch Center
      | " for
      br
      | Cyber Physical Systems @IISc.
    ul.actions
      li
        a.button.special.big(href='/about') More
  // One
  section#one.wrapper.style1
    .container(class='75%')
      .row(class='200%')
        center
          div
            header.major
              p
                | No matter how fast you drive on the highway, there will still be lots of people ahead of you
              h2 So slowdown and relish
  // Two
  section#two.wrapper.style2.special
    .container
      header.major
        h2 Voila
        p
          | Two roads diverged in a yellow wood,
          | And happy I have travelled both
      .row(class='150%')
        div(class='6u 11u$(xsmall)')
          div.image.fit.captioned
            img(src='images/sunset.jpg', alt='picture taken at GPREC')
            h3 Sunset is still my favorite,
        div(class='6u$ 11u$(xsmall)')
          .image.fit.captioned
            img(src='images/rainbow.jpg', alt='IIIT-D')
            h3
              | and rainbow is second.
              br
      //
        <div>
        <p>The biggest cliche in photography is sunrise and sunset.</p>
        </div>
      ul.actions
        li
          a.button.special.big(href='/gprec') GPREC
        li
          a.button.big(href='/iiitd') IIIT-D
  // Three
  section#three.wrapper.style1
    .container
      header.major.special
        h2 Everything is connected
        p With mindfulness you will see this in every moment
      .feature-grid
        .feature
          .image.rounded
            img(src='images/01.jpg', alt='')
          .content
            header
              h4 Happiness
            p A good laugh and long sleep are two best cures for anything..
        .feature
          .image.rounded
            img(src='images/03.jpg', alt='')
          .content
            header
              h4 Trust
            p The voices in my head may not be real, but they have some good ideas!
        .feature
          .image.rounded
            img(src='images/21.jpg', alt='')
          .content
            header
              h4 Attitude
            p Life is like photography, you use the negatives to develop.
        .feature
          .image.rounded
            img(src='images/12.jpg', alt='')
          .content
            header
              h4 Believe
            p
              | I am not telling you it’s going to be easy. I am telling you it’s going to be worth it.
  // Four
  section#four.wrapper.style3.special
    .container
      header.major
        h2 Focus on the journey, not the destination
        p
          | If you turn a smiling face on the world, you've got a chance of finishing up good.
      ul.actions
        li
          a.button.special.big(href='/contact') Get in touch