extends layout/base

block content
  section#main.wrapper
    .container
      header.major.special
        h2 Active Projects
        p coming soon....
      a.image.fit(href='#')
        img(src='images/081.JPG', alt='')