extends ../layout/base

block content
  section#main.wrapper
    .container
      header.major.special
        h2 Cant find what you're looking for
      a.image.fit(href='#')
        img(src='images/error/404.jpg', alt='404 not found. you better find it!')
