extends ../layout/base

block content
  section#main.wrapper
    .container
      header.major.special
        h2 Oh something went wrong :(
      a.image.fit(href='#')
        img(src='images/error/500.jpg', alt='404 not found. you better find it!')

      if(message)
        h3 Message
        p=message

      if(error)
        h3 Error Stack
        p=error
