// Footer
footer#footer
  .container
    ul.icons
      li
        a.icon.fa-facebook(href='http://www.facebook.com/sharer.php?u=http://www.srikrishnaacharya.in')
      li
        a.icon.fa-twitter(href='http://twitter.com/share?text=An%20Awesome%20website&url=http://www.srikrishnaacharya.in')
      li
        a.icon.fa-linkedin(href='http://www.linkedin.com/shareArticle?mini=true&url=http://www.srikrishnaacharya.in')
    ul.copyright
      li © srikrishnaacharya.in
      li
        | With small help from :
        a(href='http://prakharshukla.com/') Prakhar