// Header
header#header.alt
  nav#nav
    ul
      li
        a(href='/')
          strong Home
      li
        a(href='/about') About Me
      li
        a(href='/blog') Blog
      li
        a(href='/work') Work

