title=title
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='')
//if lte IE 8
  script(src='js/html5shiv.js')
script(src='js/jquery.min.js')
script(src='js/skel.min.js')
script(src='js/skel-layers.min.js')
script(src='js/init.js')
noscript
  link(rel='stylesheet', href='css/skel.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/style-xlarge.css')
